build --action_env=CC=clang
build --action_env=CXX=clang++
build --cxxopt='-std=c++23'
build --incompatible_strict_action_env
build --disk_cache=~/.cache/bazel-disk
build --local_resources=cpu=HOST_CPUS*0.7
build --verbose_failures

build:debug --compilation_mode=dbg
build:debug --cxxopt='-g3'
build:debug --cxxopt='-O0'
build:debug --strip=never
build:debug --cxxopt='-Wall'
build:debug --cxxopt='-Wextra'
build:debug --cxxopt='-Wno-unused-parameter'
build:debug --cxxopt='-Wno-deprecated-declarations'

build:release --compilation_mode=opt
build:release --cxxopt='-O3'
build:release --cxxopt='-DNDEBUG'
build:release --strip=always
build:release --linkopt='-s'

build:fastbuild --compilation_mode=fastbuild
build:fastbuild --cxxopt='-O1'
build:fastbuild --strip=never

test --test_output=errors
test --test_timeout=5
